/* ========== reset ========== */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
/* ========== global ========== */
:root {
    --jet: #262927;
    --slate: #5b414f;
    --silver: #dcd0d7;
    --l-acc: #daf0ee;
    --l-green: #5bc27c;
    --green: #2c7744;
    --l-red: #ba4f4f;
    --red: #781717;
}

body {
    background-color: var(--jet);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url("../img/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg");
    width: min(100%, 1800px);
    height: min(100%, 1600px);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: 300px 1fr 50px;
    grid-template-columns: 300px 4fr;
}
/* ========== header ========== */
.header {
    background-color: #5b414faa;
    grid-area: 1/1/2/-1;
    place-content: center;
    text-align: center;
}
/* ========== sidebar ========== */
.sidebar {
    background-color: #262927dd;
    grid-area: 2/1/3/2;
}
/* ========== library ========== */
.library {
    grid-area: 2/2/3/-1;
}
/* ========== footer ========== */
.footer {
    background-color: #5b414fdd;
    grid-area: 3/1/4/-1;
    place-content: center;
    text-align: center;
}